<html>
   <div class="Contenedor">
<section class="ingreso">
    <h1>Formulario</h1>
<input placeholder="🧑Nombre" type="text" name="nombre"><br>
<input placeholder="🧑Apellido" type="text" name="apellido"><br>
<input placeholder="📍Direccion" type="text" name="direccion"><br>
<input placeholder="📱Celular" type="tel" name="celular"><br>
<input placeholder="🔞Edad" type="number" name="edad"><br>
<button class="navegar" (click)="nav()">Enviar</button>
</section>
<h1 style="text-align:center ;">Exonerado</h1>
   </div> 
</html>